<div class="clock-card">
  <div>
    <div class="clock-face-content">
      <clock-face-digital *ngIf='isDigital; else analogclock' [currentTime]="currentTime" [timezone]="timezone"></clock-face-digital>
      <ng-template #analogclock>
        <clock-face-analog [currentTime]="currentTime" [timezone]="timezone"></clock-face-analog>
      </ng-template>
    </div>
  </div>
  <div fxLayout.gt-xs="row" fxLayout.xs="column" style="display:inline-block; align-items: center;padding: 0px 0px 0px 10px;">
    <div style="display:inline-block;"><img [src]="flag"></div>
    <div fxFlex="80%" class="card-label">{{city}}</div>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>delete_forever</mat-icon>
        <span>Remove</span>
      </button>
    </mat-menu>
  </div>
</div>
