<div [ngStyle]="analogStyle">
    <svg height="100%" width="100%" viewBox="0 0 100 100">
        <style>
            .ampm { font-size: 10px }
        </style>
        <g>
            <text x="40" y="30" class="ampm">{{ampm}}</text>
            <line x1="50" y1="50" x2="50" y2="25" [attr.transform]="rotate.hours" style="stroke-width: 2px; stroke: #43464B;" id="hourhand"></line>
            <line x1="50" y1="50" x2="50" y2="15" [attr.transform]="rotate.minutes" style="stroke-width: 2px; stroke: #43464B;" id="minutehand"></line>
            <line x1="50" y1="50" x2="50" y2="10" [attr.transform]="rotate.seconds" style="stroke-width: 1px; stroke: #800000;" id="secondhand"></line>
        </g>
    </svg>
</div>