<form [formGroup]="configForm">
  <div class="config-container">
    <mat-card class="config-card">
      <mat-card-header class="config-header">
        <mat-card-title class="config-title">Configure</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="config-form">
          <div>
            <mat-checkbox formControlName="round" class="config-checkbox">Round Clock</mat-checkbox>
          </div>
          <div>
            <mat-radio-group formControlName="format">
              <mat-radio-button value="digit" class="config-radio">Numbers </mat-radio-button>
              <mat-radio-button value="roman" class="config-radio">Roman Numerals </mat-radio-button>
              <mat-radio-button value="tick" class="config-radio">Ticks </mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="config-table">
            <div class="config-cell config-border">
              <div class="config-heading">Analog Colors</div>
              <div>
                <div>
                  <input type="color" class="config-color" formControlName="fillOne">
                  <span class="config-color-text">Background #1</span>
                </div>
                <div>
                  <input type="color" class="config-color" formControlName="fillTwo">
                  <span class="config-color-text">Background #2</span>
                </div>
              </div>
              <div>
                <input type="color" class="config-color" formControlName="stroke">
                <span class="config-color-text">Border</span>
              </div>
              <div>
                <input type="color" class="config-color" formControlName="textStroke">
                <span class="config-color-text">Text</span>
              </div>
              <div>
                <div>
                  <input type="color" class="config-color" formControlName="hourStroke">
                  <span class="config-color-text">Hour</span>
                </div>
                <div>
                  <input type="color" class="config-color" formControlName="minuteStroke">
                  <span class="config-color-text">Minute</span>
                </div>
                <div>
                  <input type="color" class="config-color" formControlName="secondStroke">
                  <span class="config-color-text">Second</span>
                </div>
              </div>
            </div>
            <div class="config-gap"></div>
            <div class="config-cell config-border">
              <div class="config-heading">Digital Colors</div>
              <div>
                <div>
                  <input type="color" class="config-color" formControlName="digitalBackground">
                  <span class="config-color-text">Background #1</span>
                </div>
                <div>
                  <input type="color" class="config-color" formControlName="digitalGradient">
                  <span class="config-color-text">Background #2</span>
                </div>
              </div>
              <div>
                <input type="color" class="config-color" formControlName="digitalBorder">
                <span class="config-color-text">Border</span>
              </div>
              <div>
                <input type="color" class="config-color" formControlName="digitalTextStroke">
                <span class="config-color-text">Time</span>
              </div>
              <div>
                <input type="color" class="config-color" formControlName="digitalAMPMStroke">
                <span class="config-color-text">AM-PM</span>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card-actions class="config-actions">
      <button mat-button type="submit" [disabled]="!configForm.valid" (click)="submitConfigForm()">
        <span class="config-button">Save</span>
        <mat-icon>check</mat-icon>
      </button>
      <button mat-button type="reset" routerLink="/">
        <span class="config-button">Return</span>
        <mat-icon>arrow_back_ios</mat-icon>
      </button>
    </mat-card-actions>
  </div>
</form>
