.clock-dash {
    width: 100%;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: center;
    background-color: white;
    vertical-align: middle;
}

.clock-box {
    margin: 10px !important;
    text-align: center;
    vertical-align: middle;
}
