<div class="clock-card">
  <button mat-icon-button color="warn" class="hang-top-right delete">
    <mat-icon>delete_forever</mat-icon>
  </button>
  <div style="text-align: center; margin-bottom: 15px;">
    <clock-face-digital *ngIf='isDigital; else analogclock' [currentTime]="currentTime" [timezone]="timezone"></clock-face-digital>
    <ng-template #analogclock>
      <clock-face-analog [currentTime]="currentTime" [timezone]="timezone"></clock-face-analog>
    </ng-template>
  </div>
  <div style="align-items: center;padding: 0px 0px 0px 10px;">
    <img [src]="flag" style="vertical-align: middle;">
    <span class="card-label">&nbsp;{{city}}</span>
  </div>
</div>
